html,body{

    margin: 0;
    color: #333;
    background-color:#eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
body{
    padding: 20px;
}
h1{
    color: #333;
}
footer{
    display: block;
    background-color: yellow;
}
.row{

    display: block;
}
#header { 
    background-color:#4C0000;
    height:120px;
    width:100%;
    padding:20px 0px; 
    } 
/* navigacija za glavni meni na vrhu stranice */
#navigation{
    display:block;
    
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  
  #navigation li {
    float: left;
    
  }
  
  #navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color  on hover */
  #navigation li a:hover {
    background-color: rgb(180, 184, 187);
  }
  #navigation ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* da bi se promenio z indeks odnosno umesto auto u 1000 jer je slika išla preko menija */
  #menu-prvi{
      z-index:1000 ;
  }