html,body{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
      margin-top: 0px;
}
h1{
      color: #333;
}
footer{
      display: flex;
 }
.navbar_brand a{
      color: #eee;
} 
header{
      display: block;
      height:620px;
      width:100%;
      background-color:grey;
}
.row{
    display: block;
    margin-top: 0px;
}
/* telo1 main column */
.main-column{
      color: #eee;
      width: 66%;
      float: left;
      padding-top: 10%;
  
  }
/* telo2 secondary column */
.secondary-column{
  width: 30%;
  float: right;
  padding-top: 10%;
  color: #eee;
}  


/* navigacija za glavni meni na vrhu stranice */
#navigation ul {
  display: flex;
  text-decoration: none;
  
}
 #navigation ul li a:link,
 #navigation ul li a:visited{
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 18px;
  background-color: #333;
  text-transform: uppercase;}
/* Change the link color  on hover */
  #navigation ul li a:hover {
    background-color: grey;
  }
/*  stil a:activ  aktivna stranica menija*/
  #navigation ul li.current-menu-item a:link,
  #navigation ul li.current-menu-item a:visited{
    background-color: grey;
color: #eee;
  }
  #navigation {
    position: fixed;
    top: 25px;/* privremeno zbog vordpresovog navigacionog bara */
    width: 100%;
    z-index:1000 ;
    background-color: #333;
   padding-bottom: 15px;
  }

  #navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
/* logobox */
  #logobox a{
    color:greenyellow;
    float: left;
    padding-top: 15px;
  }
  /* navbox */
 #navbox{
   float: right;
 }
  
  /* footer area raspored dodatih widgeta i stil */
  .footer_widget_area{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    background-color: #333;
  }

 

/* stil futer navugacije */
  #futernav {
    width: 250px;
  }
  #futernav li{
    list-style-type: none; 
  }
  #futernav a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  #futernav a:hover {
    background-color: #ccc;
  }
  
  #futernav a.active {
    background-color: #4CAF50;
    color: white;
  }
.page_kontakt bodi{
  background-image: none;
}